* {
	box-sizing: border-box;
}

body {
	background-color: #efefef;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* for some reason buttons need this font style for things to look consistent, not entirely certain why browsers do that, but this is probably why a reset stylesheet would be nice */
button {
	font-family: 'Open Sans', sans-serif;
}

section {
	margin: 20px 40px;
}

p {
	margin: 0 40px;
}

.inline-block {
	display: inline-block;
	margin: 40px;
	text-align: center;
	vertical-align: top;
}

.particle-emitter {
	position: relative;
	width: 240px; height: 240px;
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	border: 1px solid #aaaaaa;
	border-top: 3px solid;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	display: block;
	outline: none;
	z-index: 1;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

.particle-emitter.red.is-active {
	border-top-color: #ff0000;
}

.particle-emitter.green.is-active {
	border-top-color: #00aa00;
}

.particle-emitter.blue.is-active {
	border-top-color: #0000ff;
}

.particle-emitter.purple.is-active {
	border-top-color: #ff00ff;
}

.particle-emitter.orange.is-active {
	border-top-color: #ffaa00;
}

.particle-emitter > span {
	position: relative;
	margin-bottom: 12px;
	display: inline-block;
}
